.sidebar{
  width 300px
  .banner{
    width 80%
    height 200px
    margin 0 auto
    background-image url("../../assets/images/banner.png")
    background-position center
    background-repeat no-repeat
    background-size cover
  }
}
