.about{
  .title {
    font-size: 1.25em
    color: #333
  }
  .content{
    :global {
      @import "../post/post.styl"

      .gatsby-resp-image-link {
        border-radius: 8px
        width 104%
        margin-left -2%
        overflow hidden
        cursor zoom-in
        box-shadow 0 6px 13px 0 #eeeeee
      }
    }
  }
}
