.archive{
  h1{
    font-size: 1.25em
  }
}
archive__counter{
  color #666
  font-size 16px
  margin 20px 0
}
.archive__collection{
  padding 0 20px
  position relative
  display block
  border-left  4px solid #eee
  .archive__year{
    font-size 1.25em
    margin 0
    font-weight 600
    position relative
    padding 1em 0
    &:before{
      content ""
      width 8px
      height 8px
      background-color #aaa
      position absolute
      z-index 2
      top 1.46em
      border-radius 100%
      left -26px
    }
  }
  .archive__month{
    font-size 1em
    position relative
    display block
    margin 10px 0
  }
  .archive__list{
    overflow auto
  }
  .archive__item{
    font-size 14px
    margin 20px 0
    small{
      margin 0 10px
    }
    a{
      color #aaa
      span{
        color #666
      }
    }
    a:hover{
      color #333
      span{
        color #333
        text-decoration underline
      }
    }
  }
}
.archive__nav{
  margin-top 60px
  .archive__nav__item{
    padding 4px 10px
    margin-right 10px
    border 1px solid #cccccc
    color #999
    transition color, border .3s
    &:hover{
      border 1px solid #666
      color #666
    }
  }
  .archive__nav__item__active{
    border 1px solid #666
    color #666
  }
}
