@import "~@/assets/styles/common.styl"

.list {
  position relative
  display block
}
.item {
  margin 30px 0
  font-size 14px
  small {
    margin 0 10px
  }
  a {
    color $cr_text_3nd

    span {
      color $cr_text_2nd
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      display inline-block
      width 62%
      vertical-align top
    }
  }

  a:hover {
    span {
      color $cr_text_2nd
      text-decoration underline
      display inline-block
    }
    time {
      color $cr_text_2nd
    }
  }
}
