.main{
  // url("https://source.unsplash.com/random/1920x1080/daily"),
  background-image: url("https://source.unsplash.com/random/1920x1080/daily"), linear-gradient(to top, #fff1eb 0%, #ace0f9 100%)
  background-size cover
  height 100vh
  width 100vw
  .menu{
    display flex
    flex-direction row-reverse
    ul{
      list-style none
      margin 40px
      li{
        margin 0 20px
        display inline-block
        a{
          color #fff
          text-decoration none
        }
      }
    }
  }
}
.main__mobile{
  background-image url("https://source.unsplash.com/random/365x768/daily")
  background-size cover
  height 100vh
  width 100vw
  .menu{
    display flex
    flex-direction row-reverse
    ul{
      list-style none
      li{
        margin 20px
        a{
          color #fff
          text-decoration none
        }
      }
    }
  }
}
