@import "~@/assets/styles/variable.styl"
h1 {
  font-size: 1.25em
}

.link {
  font-size .875rem
  margin 1em 0 2em
  color $color_5

  a:first-child {
    margin-left 0
  }

  a {
    margin 8px
    letter-spacing 2px
  }
}

.counter {
  color $color_3
  font-size .875rem
  margin 1em 0 2em
}
