@import "~@/assets/styles/variable.styl"
h1 {
  font-size: 1.25em
}

.link {
  margin 1em 0 2em
  color $color_5

  a:first-child {
    margin-left 0
  }

  a {
    letter-spacing 2px
  }
  a[aria-current]{
    text-decoration $color_5 underline wavy
  }
}

.counter {
  color $color_3
  margin 1em 0 2em
}
