@import "~@/assets/styles/common.styl"

.archive {
  .collection {
    padding 0 20px
    position relative
    display block
  }

  .year {
    font-size 1.25rem
    margin 0
    position relative
    font-weight normal
    padding 1em 0
    color $cr_main

    .counter {
      margin 0 8px
    }

    &:before {
      content ""
      width 6px
      height 6px
      background-color $cr_main
      position absolute
      z-index 2
      top 1.5em
      border-radius 100%
      left -24px
    }
  }

  .month {
    font-size 1rem
    position relative
    display block
    font-weight normal
    margin 10px 0
  }

  .list {
    overflow auto
  }

  .item {
    font-size 14px
    margin 20px 0

    small {
      margin 0 10px
    }

    a {
      span {
        text-transform capitalize
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        display inline-block
        width 62%
        vertical-align top
      }
    }

    a:hover {
      span {
        text-decoration underline
      }
    }
  }
}
