@import "~@/assets/styles/variable.styl"
.categories {

  @import "../archives/common.styl"

  .list {
    margin 0
  }

  .item {
    display inline-block

    a {
      display: inline-block
      border-radius: 4px
      margin 20px 20px 20px 10px
      text-align center
      line-height 40px
      position relative
      background-image: linear-gradient(to right, $color_3 0%, $color_2 100%)
      color transparent
      background-clip text

      &:after, &:before {
        content: ""
        position: absolute
        left: 0
        bottom: -2px
        height: 1px
        width: 13%
        background-color: $color_2
        transition: opacity 0.25s ease, transform 0.25s ease, width 0.3s cubic-bezier(0.68, 0.05, 0.46, 1.02), left 0.2s 0.2s ease-out
      }

      &:after {
        z-index: 10
        width: 30%
        background-color: #fff
        opacity: 0
      }

      &:hover:after {
        opacity: 1
        left: 100%
      }

      &:hover:before {
        width: 100%
      }
    }
  }
}
