@import "~@/assets/styles/common.styl"

.categories {

  .list {
    display block

    li {
      display inline-block
    }

    a {
      padding 6px 0
      position relative
      margin 20px 20px 20px 0
      background-clip text

      &:after, &:before {
        content: ""
        position: absolute
        left: 0
        bottom: -2px
        height: 1px
        width: 13%
        background-color: $cr_bg_2nd
        transition: opacity 0.25s ease, transform 0.25s ease, width 0.3s cubic-bezier(0.68, 0.05, 0.46, 1.02), left 0.2s 0.2s ease-out
      }

      &:after {
        z-index: 10
        width: 30%
        background-color: #fff
        opacity: 0
      }

      &:hover:after {
        opacity: 1
        left: 100%
      }

      &:hover:before {
        width: 100%
      }
    }
  }
}
