@import "~@/assets/styles/common.styl"
.post-list {
  display block
}

.post-item {
  width 100%
  height auto
  animation slide .3s linear forwards
  transform translateY(20px)
  opacity 0
  margin-bottom: 80px;
  $mediaMobile(@block {
    margin-bottom: 40px
    width 100%
  })

  // &:nth-of-type(2n) {
  //   margin-bottom 0
  //   margin-right 0

  //   // $mediaPc(@block {
  //   //   margin-top 120px
  //   //   margin-left 50px
  //   // })
  // }

  a {
    color inherit
  }
}

.post-header {
  margin-bottom 26px
  padding-top 10px
}

.post-time {
  display inline
}

.post-day {
  font-size 1.75rem
  color $color_2
  line-height 16px
}

.post-month {
  color $color_3
  margin-left 6px
  font-size 0.75rem
  line-height 16px
}

.post-category {
  font-size 0.875rem
  margin-left 18px
  color $cr_text_2nd

  &:hover {
    color $cr_text
  }
}

.featured-image {
  overflow hidden
}

.post-main {
  display block

  h2 {
    margin 16px 0
    padding 0
    font-size 1.125rem
    color $cr_text_2nd
    font-weight normal
    position relative
    width fit-content
    transition color .3s linear
    text-transform: capitalize;
    &::after {
      content ""
      width 100%
      height 2px
      position absolute
      background-color: $cr_main;
      bottom -6px
      opacity .5
      left 0
      transform scaleX(0)
      transform-origin right
      transition transform .3s ease-in-out
      transition-delay 0.1s
    }

    &:hover {
      color $cr_main
    }

    &:hover::after {
      width 100%
      //left 0
      transform-origin left
      transform scaleX(1)
    }
  }

  span {
    color: $cr_text_2nd
    font-size: .875em
  }

  p {
    line-height 24px
  }
}

.load-more {
  margin-top 2rem
  font-size 1rem
  cursor pointer
  outline 0
  letter-spacing 2px
  font-family inherit
  color $cr_main
  background-color transparent
  border 0
  padding-left .5em
  border-left 2px solid $cr_main
}


@keyframes slide {
  from {
    opacity 0
    transform translateY(20px)
  }
  to {
    opacity 1
    transform translateY(0px)
  }
}
