@import "~@/assets/styles/variable.styl"
.post-list {
  display block

  &::after {
    content ""
    display block
    clear both
  }
}

.post-item {
  display inline-block
  width 360px
  margin-top 60px
  margin-right 50px
  vertical-align top
  animation slide .3s linear forwards
  transform translateY(20px)
  transition margin .3s linear
  opacity 0
  $mediaMobile(@block {
    margin-right 0
    width 100%
  })

  &:nth-of-type(2n) {
    margin-bottom 0
    margin-right 0

    $mediaPc(@block {
      margin-top 120px
      margin-left 50px
    })
  }

  a {
    color inherit
  }
}

.post-header {
  margin-bottom 26px
}

.post-time {
  display inline
}

.post-day {
  font-size 1.75rem
  color $color_2
  line-height 16px
}

.post-month {
  color $color_3
  margin-left 6px
  font-size 0.75rem
  line-height 16px
}

.post-category {
  font-size 0.875rem
  margin-left 18px
  color $color_2

  &:hover {
    color $color_1
  }
}

.featured-image {
  height 160px
  border-radius 4px
  overflow hidden
}

.post-main {
  display block

  h2 {
    margin 16px 0
    padding 0
    font-size 1.125rem
    color $color_2
    font-weight normal
    position relative
    width fit-content
    transition color .3s linear
    text-transform capitalize

    &::after {
      content ""
      width 100%
      height 2px
      position absolute
      background-color $color_1
      bottom -6px
      left 0
      transform scaleX(0)
      transform-origin right
      transition transform .3s ease
      transition-delay 0.1s
    }

    &:hover {
      color $color_1
    }

    &:hover::after {
      width 100%
      //left 0
      transform-origin left
      transform scaleX(1)
    }
  }
  span{
    color: $color_3
    font-size: .875em
  }
  p {
    line-height 24px
  }
}

.load-more {
  margin-top 2rem
  font-size 1rem
  cursor pointer
  outline 0
  letter-spacing 2px
  font-family inherit
  color $color_1
  background-color transparent
  border 0
  padding-left .5em
  border-left 2px solid $color_1
}


@keyframes slide {
  from {
    opacity 0
    transform translateY(20px)
  }
  to {
    opacity 1
    transform translateY(0px)
  }
}
