@import "~@/assets/styles/common.styl"

.to-top{
  position fixed
  cursor pointer
  right 60px
  bottom 60px
  border none
  z-index 666
  outline none
  font-size 1.25rem
  background: inherit;
  filter: invert(1);
  visibility visible
  opacity 1
  width: 40px;
  height: 40px;
  transition opacity .3s linear, visibility 0s
  transition-delay 0, .3s
  @media screen and (max-width: 890px){
    right 1em
  }
}
.to-top__hide{
  visibility hidden
  opacity 0
}
