.to__top{
  width 70px
  height 80px
  border none
  position fixed
  cursor pointer
  right 2em
  background-color transparent
  background-image  url("../../assets/images/totop.png")
  background-size 100%
  z-index 666
  outline none
  bottom 2em
  &:focus{
    opacity .9
  }
}
@media (max-width: 800px){
  .to__top{
    right -2em
    transform rotate(-45deg)
  }
}
.to__top__hide{
  display none
}
