:global{
  html, body{
    padding 0
    margin 0
    -webkit-overflow-scrolling: touch
    overflow-scrolling: touch
    font-family: -apple-system, "Manuale", "Source Han Serif SC", monospace
    height 100%
  }
  html{
    font-size: 16px
  }
  body{
    font-size 1rem
    color: rgb(85,85,85)
    transition-property:backgound
  }
  ::selection{
    background-color #333
    color #eee
  }
  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display: block
  }
  h2, h3, h4, h5, h6 {
    margin: 20px 0 15px
  }
  h1, h2, h3, h4, h5, h6 {
    position: relative
    margin-top: 1em
    margin-bottom: 1em
    font-weight: bold
    line-height: 1.4em
  }
  input,textarea,button{
    outline: none
    -webkit-appearance: none
  }
  input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none
  }
  ol,ul{
    list-style: none
    margin 0
    padding 0
  }
  a {
    text-decoration: none
    position: relative
    color: rgb(85,85,85)
  }
  .wrapper{
    background-color #fff
    position relative
    min-height: 100%
  }
}
