code[class*="language-"], pre[class*="language-"] {
  color: #EEFFE3
  letter-spacing .8px
}

// 注释
.token.comment{
  font-style: italic;
  color: #767676;
}
// class
.token.class-name, .token.function{
  color: #198e58
}
.token.keyword{
  color #4b86c4
}
.token.variable{
  color #df306b;
}
.token.operator, .token.punctuation, .token.punctuation{
  color #aeacd2;
  font-weight bold
}
.token.namespace{
  color #ffbd35
  font-weight bold
}
.token.string{
  color #7596b7
}
