@import "~@/assets/styles/common.styl"

.post-title {
  font-size 1.5rem
  color $cr_text
  font-weight normal
  font-weight: bold
}

.post-metadata {
  .post-category {
    color $cr_text_2nd
    font-size .875rem
  }

  .create-date {
    color $cr_text_2nd
    font-size .875rem
  }

  .modify-date {
    color $cr_text_2nd
    font-size .875rem
  }
  .visitors{
    font-size .875rem
    color $cr_text_2nd
  }
  small {
    margin-right 6px
    margin-left 10px
    color $cr_text_2nd
    user-select none
  }
}

.post-main {
  margin 4em 0
  opacity 0
  animation sideIn .3s linear forwards
  :global {
    @import "post.styl"
    .gatsby-resp-image-link {
      width 104%
      margin-left -2%
      overflow hidden
      cursor zoom-in
    }
    //.gatsby-resp-image-wrapper {
    //  width 100%
    //  pointer-events none
    //}
  }
}
@keyframes sideIn{
  to{
    opacity 1
  }
}

.post-footer {
  //display none

  .tags, .nav {
    margin 20px 0
    small {
      color $cr_text_2nd
      margin-right: 8px;
    }
    small:last-child{
      display: none;
    }
    a {
      margin-right 8px
      text-transform capitalize
    }
  }
}
