@import "~@/assets/styles/variable.styl"
.post-title {
  font-size 1.5rem
  color $color_2
  font-weight normal
  text-transform capitalize
}

.post-metadata {
  .post-category {
    color $color_3
    font-size .875rem
  }

  .create-date {
    color $color_3
    font-size .875rem
  }

  .modify-date {
    color $color_3
    font-size .875rem
  }

  small {
    margin-right 10px
    margin-left 10px
    color $color_3
    user-select none
  }
}

.post-main {
  margin 4em 0

  :global {
    @import "post.styl"

    .gatsby-resp-image-link {
      border-radius: 4px
      width 104%
      margin-left -2%
      overflow hidden
    }

    .gatsby-resp-image-wrapper {
      width 100%
    }

    .gatsby-resp-image-image {
      cursor zoom-in
    }
  }
}

.post-footer {
  //display none

  .tags, .nav {
    margin 20px 0
    font-size .875rem

    a {
      margin 0 8px
      text-transform capitalize
    }
  }
}
