code[class*="language-"], pre[class*="language-"] {
  color: #499fbc
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto
}
code.language-javascript{
  color #343434
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #c2c1b7
}

.token.punctuation {
  color: #c2c1b7
}

.token.namespace {
  opacity: .7
}

.token.tag, .token.operator, .token.number {
  color: #2f7289
}

.token.property, .token.function {
  color: #6f92d9
}

.token.tag-id, .token.selector, .token.atrule-id {
  color: #84740b
}

.token.attr-name {
  color: #f78c6c
}

code.language-css, code.language-scss, .token.boolean, .token.string, .token.entity, .token.url, .language-css .token.string, .language-scss .token.string, .style .token.string, .token.attr-value, .token.control, .token.directive, .token.unit, .token.statement, .token.regex, .token.atrule {
  color: #3e91ac
}
.token.keyword{
  color #a17abe
}
.token.placeholder, .token.variable {
  color: #7dc2d9
}

.token.deleted {
  text-decoration: line-through
}

.token.inserted {
  border-bottom: 1px dotted #84740b;
  text-decoration: none
}
.token.parameter{
  color #f78c6c
}
.token.italic {
  font-style: italic
}

.token.important, .token.bold {
  font-weight: bold
}

.token.important {
  color: #b7a21a
}

.token.entity {
  cursor: help
}

pre > code.highlight {
  outline: 0.4em solid #b7a21a;
  outline-offset: .4em
}

.line-numbers .line-numbers-rows {
  border-right-color: #f4f3f1
}

.line-numbers-rows > span:before {
  color: #d5d4cd
}

.line-highlight {
  background: rgba(132, 116, 11, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, rgba(132, 116, 11, 0.2)), to(rgba(132, 116, 11, 0)));
  background: linear-gradient(to right, rgba(132, 116, 11, 0.2) 70%, rgba(132, 116, 11, 0))
}

/*# sourceMappingURL=prism-base2tone-lake-light.css.map */
