@import "~assets/styles/Variables";
.header{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px 20px;
  background: #ffffffE9;
  z-index: 9;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  align-items: center;
  text-align: right;
}
.nav-list{
  margin: 0;
  padding: 0;
}
.nav-item{
  display: inline-block;
  margin: 0 10px;
  position: relative;
  text-indent: 4px;
}
.header-profile-image-wrap{
  border-radius: 8px;
  overflow: hidden;
}
.header-title{
  display: flex;
  align-items: flex-end;
  h1{
    color: @text-color;
    font-size: 18px;
    padding: 0;
    margin: 0 0 0 8px;
    margin: 0 0 0 8px;
  }
  a{
    text-decoration: none;
  }
}