@import "~@/assets/styles/common.styl"
.comments {
  display block
  margin-top 6em
}

.closed-tips {
  font-size 1rem
  color $cr_text_2nd
  text-align center
  font-weight normal
  user-select none
}
