.comment{
  textarea{
    background-color #f8f8f8
    font-family 'DejaVu Sans Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', 'Source Han Serif SC', 'PingFang SC', 'Microsoft YaHei Mono', monospace
    font-size .875rem
  }
}

:global{
  .v *{
    transition color, background-color .3s ease
  }
}
