.header{
  width 140px
  height 100%
  position fixed
  left 0
  top 0
  background-color #fff
  z-index 9
}
.site__title{
  width 100%
  display block
  margin 2em 0 0 auto
  color #101010
  writing-mode vertical-rl
  h1{
    font-size 1.5rem
  }
}
.header__mobile{
  position fixed
  height 40px
  width 100%
  top 0
  z-index 1001
  box-shadow 0 2px 8px 0 #e6e6e67a
  background-color #fff
  left 0
}
.headband{
  height 3px
  background #222
}
.menu{
  position absolute
  bottom 10%
  margin-left 10px
  .menu__list{
    list-style none
    padding 0
    .menu__item{
      margin 20px
      display inline-block
      a{
        color #404040
        text-decoration none
        padding 4px
        letter-spacing 2px
        &:hover{
          color #000
        }
      }
    }
    .menu__item__active{
      a{
        color #333
        border-left 2px solid #333
      }
    }
  }
}
