@import "~@/assets/styles/global.styl"

wt(alpha) {
  rgba(255, 255, 255, alpha)
}

.header {
  position fixed
  display flex
  width 100%
  z-index 99
  padding 0 2em
  box-sizing: border-box
  top 0
  left 0
  height 80px
  align-items: center;
  background-color: $cr_bg;
  opacity .92;
  $mediaMobile(@block {
    padding 0
    justify-content center
    margin 0 auto
  })
  .title {
    font-weight bold
    margin: 0;
    font-size: 22px;
    a {
      color $cr_text
      user-select none
    }
    $mediaMobile(@block {
      text-align center
    })
  }

  .nav-bar {
    flex 1
    text-align right
    $mediaMobile(@block {
      display none
    })

    .item {
      display inline-block
      margin 0 1em
      position relative
      letter-spacing 4px
      text-indent 4px
      transition color .3s linear

      a {
        color inherit
      }

      &:hover {
        color $cr_text
      }
    }

    .item__active {
      pointer-events none
      color $cr_text

      &::after {
        content ""
        position absolute
        bottom -6px
        height 2px
        background-color $cr_main
        width 20%
        left 0
      }
    }
  }
}

.main {
  display block
  width 890px
  padding-top 140px;
  padding-bottom 80px;
  margin 0 auto
  position relative
  z-index 2
  box-sizing border-box
  min-height calc(100vh - 200px)
  $mediaMobile(@block{
    width 92%
    padding 80px 0 3em
    margin 0 auto
  })
  $mediaPad(@block{
    width 69%
    padding 9em 0 15em
    margin 0 auto
    left 0
  })
}

.footer {
  display block
  width 100%
  padding 20px 0
  height 200px
  box-sizing border-box
  opacity .92
  background-color: $cr_bg_2nd;
  .footer-inner {
    display block
    width 890px
    margin 0 auto
    color: $cr_bg
    $mediaMobile(@block {
      width 92%
      margin 0 auto
    })

    $mediaPad(@block {
      width 69%
      margin 0 6em
    })

    a {
      border-bottom: 1px solid transparent
      text-decoration: none
      color inherit
      margin-right 10px
      word-wrap: break-word
    }

    a:hover {
      opacity .5
    }
  }

  .copyright {
    span {
      margin-right 4px
    }
  }

  .powered-by {
    span {
      margin-right 4px
    }
  }
}
