.container{
  width 800px
  padding-left: 200px
  position relative
  min-height 100%
}
.main{
  padding 20px
  padding-bottom: 200px
  box-sizing border-box
}
@media (max-width: 800px){
  .container{
    width 100%
    padding 0
  }
  .main{
    padding 10px
    padding-bottom: 240px
    padding-top: 60px
  }
}
