.footer{
  position: absolute
  width 100%
  bottom: 0
  box-sizing border-box
  min-height: 50px
  padding 20px
  margin-top: 80px
  color: #666
  .footer__inner{
    border-top 1px solid #eee
    font-size 14px
  }
  @media (max-width: 800px) {
    .footer__inner{
      padding 10px 0
      border-top 1px solid #eee
      font-size 14px
    }
  }
  a{
    border-bottom: 1px solid #999
    color: #555
    text-decoration: none
    margin-right 10px
    word-wrap: break-word
  }
  a:hover{
    border-bottom: 1px solid #333
  }
  .copyright{
    i{
      font-size 16px
      margin-right 4px
      font-family "PingFang SC Medium"
      font-style normal
    }
    span{
      margin-right 4px
    }
  }
  .powered__by{
    span{
      margin-right 4px
    }
  }
}
@media (max-width: 800px) {
  .footer{
    padding 10px
  }
}
