@font-face {
  font-family: 'iconfont'  /* project id 1118212 */
  src: url('//at.alicdn.com/t/font_1118212_ui1qbi1d9al.eot')
  src: url('//at.alicdn.com/t/font_1118212_ui1qbi1d9al.eot?#iefix') format('embedded-opentype'),
          url('//at.alicdn.com/t/font_1118212_ui1qbi1d9al.woff2') format('woff2'),
          url('//at.alicdn.com/t/font_1118212_ui1qbi1d9al.woff') format('woff'),
          url('//at.alicdn.com/t/font_1118212_ui1qbi1d9al.ttf') format('truetype'),
          url('//at.alicdn.com/t/font_1118212_ui1qbi1d9al.svg#iconfont') format('svg')
}
.iconfont{
  font-family:'iconfont' !important
  font-size:1em
  font-style:normal
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale
}

.icon-github:after{
  content "\e691"
}
.icon-rss:after{
  content "\e808"
}
.icon-sitemap:after{
  content "\e816"
}
.icon-menu{
  content "\e692"
}
