.post{
  box-sizing border-box
  padding-bottom 2.5rem
  .post__featured__wrapper{
    margin-top 1em
    margin-left -5%
    border-radius: 4px
    width 110%
    box-sizing border-box
    display block
    .post__featured__image{
      max-width 800px
      margin 0 auto
    }
  }
  .post__title{
    font-size 1.25em
  }
  @media (max-width 800px){
    .post__featured__wrapper{
      width 104%
      margin-left -2%
    }
  }
  a{
    color #333
    text-decoration none
  }
  .post__metadata{
    font-size .875em
    a, time{
      margin-right 10px
      color #AAB2BD
    }
    time{
      cursor help
    }
    small{
      margin-right: 10px
      color: #AAB2BD
    }
  }
  .post__intro{
    color #656D78
    margin 1em 0 1em
    padding 10px 0
    line-height 2em
  }
}
.view__more{
  padding-top 3em
  padding-bottom 1em
  border-top 1px solid #eee
  a{
    font-size 1em
    text-decoration none
    position relative
    border 1px solid #eee
    color #999
    padding 10px
    border-radius 3px
    transition color, border .3s
  }
  a:hover{
    border 1px solid #404040
    color #333
  }
}
