@import "~@/assets/styles/common.styl"

.light-box {
  position fixed
  width 100vw
  height 100vh
  z-index 999
  background-color rgba(255, 255, 255, .94)
  overflow hidden
  top 0
  left 0
  cursor zoom-out
  animation fade .3s linear forwards
  $mediaMobile(@block {
    background-color #000
    img{
      max-width 100%
    }
  })
}
.light-box-wrap{
  display block
}
.load-error, .loading {
  overflow: hidden
  font-size .875rem
  position: absolute
  top: 50%
  left 50%
  padding .5em
  transform translate(-50%, -50%)
}

.load-error {
  color #fc6470
  z-index 10
}

.loading {
  color: $cr_text_2nd
  letter-spacing 2px
  opacity 0
  transition opacity .3s linear
  z-index 8

  &:after {
    content ""
    position absolute
    height 2px
    left 0
    background-color $cr_main
    width 100%
    bottom 0
    transform translateX(-100%)
    animation slide .8s -0.1s ease-in-out infinite
  }
}

.loading.hide {
  opacity 0
}

.loading.show {
  opacity 1
}
.img {
  position absolute
  $center()
  max-width 89%
  max-height 89%
  transition opacity .3s linear
  z-index 9
}

@keyframes fade {
  from {
    background transparent
    opacity 0
  }
  to {
    background-color rgba(255, 255, 255, .94)
    opacity 1
  }
}

@keyframes slide {
  0% {
    transform translateX(-100%)
  }
  50% {
    transform translateX(0)
  }
  100% {
    transform translateX(100%)
  }
}
