.category__title{

}
.category__counter{
  color #666
  font-size 1em
  margin 20px 0
}
.category__list{
  padding 0 20px
  position relative
  display block
  border-left  4px solid #eee
  .category__item{
    font-size .875em
    margin 40px 0
    small{
      margin 0 10px
    }
    a{
      color #999
      &:hover{
        color #333
      }
    }
  }
}
