@import "~@/assets/styles/variable.styl"
.category {
  @import "~@/pages/archives/common.styl"

  .list {
    position relative
    display block

    .item {
      font-size .875em
      margin 40px 0

      small {
        margin 0 10px
      }

      a {
        color $color_3

        span {
          color $color_2
          overflow hidden
          text-overflow ellipsis
          white-space nowrap
          display inline-block
          width 62%
          vertical-align top
        }
      }

      a:hover {
        span {
          color $color_1
          text-decoration underline
          display inline-block
        }
        time {
          color $color_1
        }
      }
    }
  }
}
